extends layout

block content


  main
    .row.firstStudio
      #firstBlock.contentBlock
        .inner
          p.blockText
            strong Современное
            |  обрудование звукозаписи
      #secondBlock.contentBlock
        .inner
          p.blockText
            strong Команда
            |  опытных сотрудников
    .row.servers
      .col-xl-1
      .col-xl-7
        ul
          li
            p запись голоса или музыкальных инструментов,
          li
            p создание инструментала или минуса,
          li
            p аранжировка,
          li
            p монтаж и сводка,
          li
            p а также компрессия и мастеринг.
      .col-xl-3
        img#mic.borderCol(src='/images/mic.png')
      .col-xl-1
    .row.secondStudio
      .col-xl-4.description
        .inner
          p
            | Мы занимаемся звукозаписью с 2018 года и всегда оставались
            strong лучшим
            |  выбором для наших клиентов. Благодаря большому спектору оборудования SR studio сделаeт Ваш звук таким, каким Вы его представляете
      .col-xl-1
      .col-xl-6.rating
        .google_rating
          .carousel_google_rating
            script(src='https://apps.elfsight.com/p/platform.js' defer='')
            .elfsight-app-c10e5d69-5d90-4f2e-91c7-09588193419e
      .col-xl-1
    .row.emptyBlock
    .row.thirdStudio
      img#aftermath(src='/images/aftermath.svg' alt='')

