extends layout

block content

    script(type='text/javascript' src='https://vk.com/js/api/openapi.js?168')
        // VK Widget
    .carousel_services
        .slider
            .slider__wrapper
                .slider__item.ad_el
                    .gradient-box.purple
                        #gitara.wallpaper
                            a(href='#')
                                .text_block_ser
                                    div
                                        p.service_h &Ncy;&acy;&chcy;&icy;&ncy;&acy;&yucy;&shchcy;&icy;&jcy; &mcy;&ucy;&zcy;&ycy;&kcy;&acy;&ncy;&tcy;
                                    div
                                        p.service_text
                                            | &Zcy;&acy;&pcy;&icy;&scy;&softcy; &ocy;&dcy;&ncy;&ocy;&gcy;&ocy; &gcy;&ocy;&lcy;&ocy;&scy;&acy; &icy; &icy;&ncy;&scy;&tcy;&rcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy; &vcy; &pcy;&iecy;&rcy;&icy;&ocy;&dcy;&iecy; 2 &chcy;&acy;&scy;&ocy;&vcy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;, &scy;&vcy;&ocy;&dcy;&kcy;&acy; &icy; &kcy;&ocy;&mcy;&pcy;&rcy;&iecy;&scy;&scy;&icy;&yacy;
                                    div
                                        p.service_price
                                            strong 49.99&euro;
                .slider__item.ad_el
                    .gradient-box.purple
                        #voice_acting.wallpaper
                            a(href='#')
                                .text_block_ser
                                    div
                                        p.service_h &Ocy;&zcy;&vcy;&ucy;&chcy;&kcy;&acy;
                                    div
                                        p.service_text &Zcy;&acy;&pcy;&icy;&scy;&softcy; &gcy;&ocy;&lcy;&ocy;&scy;&ocy;&vcy; &vcy; &pcy;&iecy;&rcy;&icy;&ocy;&dcy;&iecy; 4 &chcy;&acy;&scy;&ocy;&vcy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &dcy;&acy;&lcy;&softcy;&ncy;&iecy;&jcy;&shcy;&icy;&jcy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;, &scy;&vcy;&ocy;&dcy;&kcy;&acy; &icy; &kcy;&ocy;&mcy;&pcy;&rcy;&iecy;&scy;&scy;&icy;&yacy;
                                    div
                                        p.service_price
                                            strong 59.99&euro;
                .slider__item.ad_el
                    .gradient-box.purple
                        #basicad.wallpaper
                            a(href='#')
                                .text_block_ser
                                    div
                                        p.service_h &Bcy;&yucy;&dcy;&zhcy;&iecy;&tcy;&ncy;&acy;&yacy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&acy;
                                    div
                                        p.service_text &Zcy;&acy;&pcy;&icy;&scy;&softcy; &gcy;&ocy;&lcy;&ocy;&scy;&acy; &vcy; &pcy;&iecy;&rcy;&icy;&ocy;&dcy;&iecy; 2 &chcy;&acy;&scy;&ocy;&vcy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &dcy;&acy;&lcy;&softcy;&ncy;&iecy;&jcy;&shcy;&icy;&jcy; &mcy;&ocy;&ncy;&tcy;&acy;&zhcy;, &scy;&vcy;&ocy;&dcy;&kcy;&acy; &icy; &kcy;&ocy;&mcy;&pcy;&rcy;&iecy;&scy;&scy;&icy;&yacy;
                                    div
                                        p.service_price
                                            strong 39.99&euro;
            a.slider__control.slider__control_left(href='#' role='button')
            a.slider__control.slider__control_right.slider__control_show(href='#' role='button')
    main
        .gradient-box.purple.choice_block_border
            .choice_block
                p.service_h &Ncy;&acy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy; &pcy;&ocy;&dcy; &scy;&iecy;&bcy;&yacy;
                .flcont
                    .buts
                        .buts_with_t
                            p.service_text &Mcy;&ocy;&ncy;&tcy;&acy;&zhcy; &icy; &scy;&vcy;&ocy;&dcy;&kcy;&acy;
                            input#montash(type='checkbox')
                        .buts_with_t
                            p.service_text &Mcy;&acy;&scy;&tcy;&iecy;&rcy;&icy;&ncy;&gcy;
                            input#mastering(type='checkbox')
                        .buts_with_t
                            p.service_text &Kcy;&ocy;&mcy;&pcy;&rcy;&iecy;&scy;&scy;&icy;&yacy;
                            input#compresia(type='checkbox')
                        .buts_with_t
                            p.service_text &Acy;&rcy;&acy;&ncy;&zhcy;&icy;&rcy;&ocy;&vcy;&kcy;&acy;
                            input#arangirovka(type='checkbox')
                        .buts_with_t
                            p.service_text &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &icy;&ncy;&scy;&tcy;&rcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;&lcy;&acy;
                            input#instrumental(type='checkbox')
                        .buts_with_t
                            p.service_text &Scy;&ocy;&zcy;&dcy;&acy;&ncy;&icy;&iecy; &mcy;&icy;&ncy;&ucy;&scy;&acy;
                            input#minusss(type='checkbox')
                    .twist
                        .buts_with_t
                            b.priceOfRange 0&euro;
                            b.numOfRange 0
                        .buts_with_t
                            p.service_text &Lcy;&yucy;&dcy;&icy;
                            input#peopleBut(type='range' value='0' max='9' step='1' style='background: rgba(0,0,0,0)')
                        .buts_with_t
                            b.priceOfRange 0&euro;
                            b.numOfRange 0
                        .buts_with_t
                            p.service_text &Icy;&ncy;&scy;&tcy;&rcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                            input#instrumBut(type='range' value='0' max='9' step='1' style='background: rgba(0,0,0,0)')
                        .buts_with_t
                            b.priceOfRange 0&euro;
                            b.numOfRange 0
                        .buts_with_t
                            p.service_text &CHcy;&acy;&scy;&ycy;
                            input#hoursBut(type='range' value='0' max='9' step='1' style='background: rgba(0,0,0,0)')
                .contwant
                    .buts_with_t
                        p.service_text &KHcy;&ocy;&chcy;&ucy; &scy;&kcy;&icy;&dcy;&kcy;&ucy;
                        input#wants(type='checkbox')
                    .buts_with_t.centerbro
                        form(action='#')
                            button#conttobuy(type='submit' disabled='')
                                p.service_text
                                    | &Pcy;&rcy;&ocy;&dcy;&ocy;&lcy;&zhcy;&icy;&tcy;&softcy;
                                    strong#sumOfService 0&euro;
        .gradient-box.purple.choice_block_border
            .choice_block.nomarg
                p.service_text
                    | &IEcy;&scy;&tcy;&softcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&ncy;&ocy;&scy;&tcy;&softcy; &zcy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                    a.contactt(href='tel:055778899') 055778899
                    |  &icy;&lcy;&icy; &ncy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy; &ncy;&acy;
                    a.contactt(href='mailto:055778899') info@sr-studio.ee
                    | . &Tcy;&acy;&kcy;&zhcy;&iecy; &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy; &vcy; &lcy;&icy;&chcy;&kcy;&ucy; &scy;&ocy;&ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy; &icy;&lcy;&icy; &ocy;&bcy;&rcy;&acy;&tcy;&icy;&tcy;&softcy;&scy;&yacy; &pcy;&ocy; &acy;&dcy;&rcy;&iecy;&scy;&ucy; Ida-Virumaa, J&otilde;hvi, Tallinna mnt 13.
        .elem
        .gradient-box.orange.maprel
            #wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3
                #map-9cd199b9cc5410cd3b1ad21cab2e54d3
                script#mapscriptt.
                    (function () {
                        var setting = {
                            "height": 300,
                            "width": 1000,
                            "zoom": 13,
                            "queryString": "Tolmets Jõhvi, Kaasiku, Йыхви, Ида-Вирумаа, Эстония",
                            "place_id": "ChIJ27jDumVllEYR9wo5PRsBagg",
                            "satellite": false,
                            "centerCoord": [60.6079449560895, 23.85896039934775],
                            "cid": "0x86a011b3d390af7",
                            "lang": "ru",
                            "cityUrl": "/finland/hirsjarvi-324948",
                            "cityAnchorText": "Карта [CITY1], Западная Финляндия, Финляндия",
                            "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                            "embed_id": "336029"
                        };
                        var d = document;
                        var s = d.createElement('script');
                        s.src = 'https://1map.com/js/script-for-user.js?embed_id=336029';
                        s.async = true;
                        s.onload = function (e) {
                            window.OneMap.initMap(setting)
                        };
                        var to = d.getElementById('mapscriptt');
                        to.parentNode.insertBefore(s, to);
                    })();
                a(href='https://1map.com/ru/map-embed') 1 Map
        aside.elem.group.gtnjo
            .gradient-box.orange.facebook
                iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSR-studio-104952744899222&tabs=messages&width=300&height=288&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='300' height='288' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')
            .gradient-box.orange.vk
                #vk_groups
                script(type='text/javascript').
                    VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "300", height: "288"}, 201752528);



